<% layout('/layout/page') -%>
<div class="panel">
    <div class="panel-heading bg-white section-name"><div><h5>Пользователи</h5></div>   </div>

      <a href="/newUser" class="btn btn-white m-b btn-sm">Создать пользователя</a>

<div id="usersContent" class="usersContent">
    <table id="usersTable">
           <!--data-toggle="table"-->
           <!--data-url="https://livedemo.xsolla.com/fe/test-task/baev/users"-->
           <!--data-query-params="queryParams">-->

        <thead >
        <tr>
            <th data-field="enabled">Статус</th>
            <th data-field="user_id" data-formatter="LinkFormatter">ID пользователя</th>
            <th data-field="register_date">Дата регистрации</th>
            <th data-field="user_name">Имя пользователя</th>
            <th data-field="user_custom">Ник пользователя</th>
            <th data-field="email">Электронная почта</th>

            <th data-field="balance">Баланс, Gold</th>
            <th data-field="wallet_amount">Xsolla баланс</th>
            <!--<th data-field="wallet_currency">wallet_currency</th>-->

        </tr>
        </thead>
    </table>
    <div class="text-center">
        <button id="button" class="btn btn-white btn-load-more">Показать еще</button>
    </div>

</div>
</div>

<script>
    loadTable($("#usersTable"));
</script>
