
<% layout('/layout/page') -%>
<section class="filter-region">
    <div class="panel">
        <div class="panel-heading bg-white section-name"><div><h5><%= title %></h5></div>   </div>
        <h4><a href="/users/<%=user_id%>">Пользователь <%=user_id%></a></h4>
        <form id="transactionForm" class="form-horizontal panel-body m-b-none" method="get" >
                 <div class="col-md-4 col-md-offset-2">
                     <div>
                    <h4>Выберите даты:</h4>
                    <input type="text" id="calendar" class="form-control">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                     </div>

                </div>
            <div class="form-group m-b-none">
                <div class="col-md-6 col-md-offset-3 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
            </div>
        </form>
    </div></section>
<section class="main padder projects hidden-xs">
    <div class="loading-container"><img src="/images/load.gif"></div>
    <div id="usersContent" class="usersContent">
        <table id="transactionTable"
               data-toggle="table">
            <thead >
            <tr>
                <th data-field="date">Дата</th>
                <th data-field="status">Статус операции</th>
                <th data-field="operation_id">ID операции</th>
                <th data-field="user_id">Реквизиты пользователя</th>
                <th data-field="transaction_type">Тип операции</th>
                <th data-field="amount" >Изменение игрового баланса
                    (Баланс пользователя после операции)</th>
                <th data-field="sum">Сумма платежа</th>
                <th data-field="comment">Комментарий</th>
            </tr>
            </thead>

        </table>

    </div>
</section>
<script>
    $(function() {


        $('#calendar').daterangepicker({
            "startDate": "01/01/2017",
            "endDate": Date.now(),
            "autoApply": true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('#calendar').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });



        $("#transactionForm").on('submit', function (){

            var start = new Date($("#calendar").data('daterangepicker').startDate._d);
            var end = new Date($("#calendar").data('daterangepicker').endDate._d);
         //   $("#transactionTable").clear();
            findTransaction($("#transactionTable"),'<%=user_id%>', start,end);
            return false;});

        $("#transactionForm").submit();

    });

</script>
